.lh-box-signin {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: -120px auto 0 auto;
    width: 360px;
}

.lh-box-pwd {
    width: 460px;
}

.lh-box-error {
    margin: 100px auto;
    width: 360px;
}

.lh-box-home {
    cursor: pointer;
    display: block;

    .lh-box-inner {
        color: $primary-color;
        
        &:hover {
            background-color: #FAFAFA;
        }
    }
}

.lh-menu-programs {
    background-color: black;
    padding: 0;

    li {
        display: inline-block;
        list-style-type: none;
        padding: 10px;

        a {
            color: white;
            padding: 10px;
        }
        &:hover, &.selected {
            background-color: #333;
        }
    }
}

.lh-project-info {
    padding-left: 0;
    
    li {
        display: inline;
        padding: 0 10px;
        list-style-type: none;
        
        &:first-child {
            padding-left: 0; 
        }
    }
}

.lh-upload-container {
    position: relative;
    
    .lh-upload-image {
        border: 1px solid #DDD;
        min-height: 200px;
        padding: 5px;
        
        img {
            max-width: 100%;
        }
    }
    
    .lh-upload-spinner {
        background-color: #000;
        color: #FFFFFF;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        padding: 10px;
        text-align: center;
        filter: alpha(opacity=30);
        -moz-opacity: 0.3;
        opacity: 0.3;
    }
}
