* {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    @include box-sizing();
}

body {
    font-size: 13px;
    line-height: 19px;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 8px 0;
}

a {
    text-decoration: none;
    &:hover {
        color: $secondary-color;
    }
}

// layout
.lh-background-primary {
    background-color: #EAEAEA;
}

.lh-header-content, .lh-header-content-small {
    background-color: $primary-color;
    
    .lh-header-text {
        color: $secondary-color; 
    }
}

.lh-header-content {
    padding: 24px 12px;

    .lh-header-text {
        font-size: 28px;
    }
}

.lh-header-content-small {
    padding: 12px;

    .lh-header-text {
        font-size: 16px;
    }
    
    a {
        color: $secondary-color;
        
        &:hover {
            color: white;
        }
    }
}

.lh-content {
    margin: auto;
    max-width: 1200px;
    min-width: 960px;   
    padding: 0 10px;
}