.lh .lh-block {
  display: block !important; }
.lh .lh-color-primary {
  color: #000000 !important; }
.lh .lh-color-secondary {
  color: #999999 !important; }
.lh .lh-text-bold {
  font-weight: bold !important; }
.lh .lh-text-right {
  text-align: right !important; }
.lh .lh-size-medium {
  font-size: 16px !important; }
.lh .lh-spacing-small {
  margin-bottom: 6px !important; }
.lh .lh-spacing-base {
  margin-bottom: 10px !important; }
.lh .lh-spacing-medium {
  margin-bottom: 16px !important; }
.lh .lh-spacing-big {
  margin-bottom: 28px !important; }
.lh .lh-spacing-top-big {
  margin-top: 28px !important; }
.lh .lh-hidden {
  display: none !important; }
.lh * {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
.lh body {
  font-size: 13px;
  line-height: 19px;
  margin: 0;
  padding: 0; }
.lh h3 {
  margin: 8px 0; }
.lh a {
  text-decoration: none; }
  .lh a:hover {
    color: #999999; }
.lh .lh-background-primary {
  background-color: #EAEAEA; }
.lh .lh-header-content, .lh .lh-header-content-small {
  background-color: #000000; }
  .lh .lh-header-content .lh-header-text, .lh .lh-header-content-small .lh-header-text {
    color: #999999; }
.lh .lh-header-content {
  padding: 24px 12px; }
  .lh .lh-header-content .lh-header-text {
    font-size: 28px; }
.lh .lh-header-content-small {
  padding: 12px; }
  .lh .lh-header-content-small .lh-header-text {
    font-size: 16px; }
  .lh .lh-header-content-small a {
    color: #999999; }
    .lh .lh-header-content-small a:hover {
      color: white; }
.lh .lh-content {
  margin: auto;
  max-width: 1200px;
  min-width: 960px;
  padding: 0 10px; }
.lh .lh-row:before, .lh .lh-row:after {
  display: table;
  content: ''; }
.lh .lh-row:after {
  clear: both; }
.lh .lh-row .lh-col3, .lh .lh-row .lh-col4, .lh .lh-row .lh-col6, .lh .lh-row .lh-col8, .lh .lh-row .lh-col9 {
  float: left;
  margin-right: 2%; }
.lh .lh-row .lh-col3 {
  width: 23.5%; }
.lh .lh-row .lh-col3-offset {
  margin-left: 25.5%; }
.lh .lh-row .lh-col4 {
  width: 32%; }
.lh .lh-row .lh-col4-offset {
  margin-left: 34%; }
.lh .lh-row .lh-col6 {
  width: 49%; }
.lh .lh-row .lh-col8 {
  width: 66%; }
.lh .lh-row .lh-col9 {
  width: 74.5%; }
.lh .lh-row .lh-col-last {
  margin-right: 0; }
.lh .lh-box .lh-box-inner {
  background-color: #FFFFFF;
  padding: 18px 14px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px; }
.lh .lh-input {
  margin-bottom: 10px; }
  .lh .lh-input:last-child {
    margin-bottom: 0; }
.lh input[type="text"], .lh input[type="password"], .lh input[type="date"], .lh select, .lh textarea {
  border: 1px solid #DDDDDD;
  font-size: 13px;
  padding: 5px 7px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }
.lh .lh-input-text {
  height: 29px; }
.lh textarea {
  height: 60px; }
.lh .lh-input-label {
  line-height: 29px; }
.lh .lh-button {
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  line-height: 19px;
  padding: 5px 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #EAEAEA;
  border-color: #EAEAEA;
  color: #333333; }
  .lh .lh-button:hover {
    background-color: #EEEEEE; }
  .lh .lh-button.lh-button-primary {
    background-color: #000000;
    border-color: #000000;
    color: #FFFFFF; }
    .lh .lh-button.lh-button-primary:hover {
      background-color: #333333; }
.lh .lh-alert {
  padding: 10px 0; }
  .lh .lh-alert.lh-alert-error {
    color: red; }
  .lh .lh-alert.lh-alert-success {
    color: green; }
.lh .lh-menu {
  margin: 0;
  padding: 0; }
  .lh .lh-menu .lh-menu-item {
    list-style-type: none; }
  .lh .lh-menu a.lh-menu-item-link {
    color: #333333;
    display: block;
    padding: 8px; }
    .lh .lh-menu a.lh-menu-item-link:hover {
      background-color: black;
      color: white; }
.lh .lh-form .lh-input-label {
  text-align: right; }
.lh .lh-form .lh-input-text, .lh .lh-form textarea {
  width: 100%; }
.lh .lh-box-signin {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: -120px auto 0 auto;
  width: 360px; }
.lh .lh-box-pwd {
  width: 460px; }
.lh .lh-box-error {
  margin: 100px auto;
  width: 360px; }
.lh .lh-box-home {
  cursor: pointer;
  display: block; }
  .lh .lh-box-home .lh-box-inner {
    color: #000000; }
    .lh .lh-box-home .lh-box-inner:hover {
      background-color: #FAFAFA; }
.lh .lh-box-project {
  width: 600px; }

/*# sourceMappingURL=page.css.map */
